<br/>

<div class="row">
    <div class='col-sm-8 col-md-8 col-xs-8' style="height: 92.7vh;">
    <p>
        <strong>
            General Instructions
        </strong>
    </p>
    <div class='text-justify'>

        <ul>
            <li>Your test contains multiple-choice questions with only one answer type questions. There are a total of 15 questions/li>
            <li>This is a 15 min test. Please make sure you complete it in stipulated time</li>
            <li>Your test contains multiple-choice questions with only one answer type questions. There are a total of 15 questions</li>
            <li>You can finish this test any time using the 'Submit' button.</li>
            <li>Negative Marking : NO</li>
            <li>Recommanded Browser : Google Chrome</li>
            <li>All Questions are mandatory</li>
        </ul>
        <div class="text-center">
            <button class="watupro-start-quiz" style="font-size: 16px !important;
        color: #fff !important;text-transform: uppercase;background: #ed3315;padding: 20px;border-radius: 5px;display: inline-block;
        border: none;"  (click)="attempTest()">Start Test</button>
        </div>

    </div>

    </div>

</div>
