<div class="conatiner-fluid navBarBottom">
  <ul class="nav justify-content-end" *ngIf="!auth.visible">
    <li class="nav-item" aria-readonly="true">
      <a class="nav-link">Welcome : {{user}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logOut()">LogOut</a>
    </li>
  </ul>
  <ul class="nav justify-content-end" *ngIf="auth.visible">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/signIn']" routerLinkActive="router-link-active" >Login</a>
    </li>
  </ul>
</div>

<div class="container-fluid background-color">
  <router-outlet></router-outlet>
</div>